@import "tailwindcss";

@theme {
  --font-display: var(--font-monggoland);
  --font-serif: var(--font-ptSerif);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
